<div class="flex justify-center">
  <div class="sign-in-card box-shadow effect-3d">
    <h2 class="text-2xl font-black auth-card-welcome">Welcome! <br />Let’s get you started.</h2>
    <p class="auth-card-detail">Already have an account?  <%= link_to "Sign in", new_user_session_path, class: "text-primary font-bold" %></p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.label :email, class: "input-label", value: "Email address" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "large-field mb-3" %>
      <%= f.label :password, class: "input-label" %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "large-field mb-3" %>
      <%= f.label :password_confirmation, class: "input-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "large-field mb-3" %>
      <div class="flex justify-center mt-5">
        <%= f.submit "Sign up", class: "button button-primary" %>
      </div>
    <% end %>
  </div>
</div>
