<% if @donations.count == 0 %>
  <div>
    <%= link_to 'Still no donations here, be the hero who creates the first one!', new_donation_path, class: "font-bold text-4xl mt-5 ml-5 text-light-midnight hover:text-midnight"%>
  </div>
<% else %>
    <% if current_user %>
      <div class="flex justify-between">
        <div>
          <%= simple_form_for :search, url: donations_path, method: :get do |f| %>
            <div class="flex">
              <%= f.input :query, label: false, placeholder: "Search...", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
              <%= f.button :button, class: "btn-outline-secondary" do %>
                <%= image_tag("search_icon.png", width: 20, height: 20, class: "ml-3") %>
              <% end %>
            </div>
          <% end %>
        </div>
        <button class="inline-flex items-center justify-center p-0.5 mb-2 mr-10 overflow-hidden text-sm font-semibold rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
            <%= link_to 'Donateâ¤ï¸', new_donation_path, class: "px-5 py-2.5 transition-all ease-in duration-75 bg-background rounded-md group-hover:bg-opacity-0"%>
        </button>
      </div>
    <% else %>
      <div class="flex justify-center">
        <%= link_to "SIGN UP TO CLAIM AND DONATE ðŸ˜", new_user_registration_path, class: "text-white font-bold bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      </div>
    <% end %>
  <div class="h-56 grid grid-cols-3 gap-4 content-start">
    <% @donations.each do |donation| %>
      <%= render 'donations/card', donation: donation %>
    <% end %>
  </div>
<% end %>
