<div class="main w-max m-auto mt-10">
  <h2 class="text-2xl mb-6">Share with others</h2>

  <%= simple_form_for @donation do |f| %>

    <div class="flex rounded text-gray-500 mb-4">
      <%= f.text_area :name, autofocus: true,
        class: "outline-none px-4 h-full py-2 text-lg",
        placeholder: "Post Title"
      %>
    </div>

    <div class="flex rounded text-gray-500 mb-4">
      <%= f.text_area :description,
        class: "outline-none px-4 h-full py-2 text-lg",
        placeholder: "Description"
      %>
    </div>

     <div class="flex rounded text-gray-500 mb-4">
        <%= f.select :category, ["Food", "Clothing", "Electronics", "Other"],
          class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm",
          placeholder: "Category"
      %>
    </div>

    <div class="actions">
      <%= f.submit "Donate", class: "rounded mt-6 px-4 bg-blue-500" %>
    </div>
  <% end %>
</div>
